<!DOCTYPE html>
<html ng-app='ShoppingList'>
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="css/styles.css">

        <title>AngularJS Modules</title>
    </head>
    <body>
        <h1>AngularJS Modules</h1>

        <div ng-controller='ShoppingListController as list'>
            <input type="text" ng-model="list.itemName" placeholder="item name">
            <input type="text" ng-model="list.itemQuantity" placeholder="quantity">

            <button ng-click="list.addItem();">Add Item</button>

            {{list.lastRemoveItem}}

            <!--
            Used as exactly as you would use the custom directives

            Note the normalized property names
            -->
            <shopping-list
                items="list.items"
                title="{{list.title}}"
                on-remove="list.removeItem(index)"></shopping-list>
        </div>

        <!--
        Component out of ShoppingListController scope

        It is necessary to use $rootScope to emit or broadcast the events!
        -->
        <loading-spinner></loading-spinner>

        <!-- Libraries -->
        <script src="lib/jquery-3.1.1.js"></script>
        <script src="lib/angular-1.6.1.min.js"></script>

        <!--
        Modules
            Can be anywhere in the HTML body or head but MUST be BEFORE any artifact that is attached to it!
        -->
        <script src="src/shopping_list/shopping_list.module.js"></script>
        <script src="src/spinner/spinner.module.js"></script>

        <!-- 'ShoppingList' Module Artifacts -->
        <script src="src/shopping_list/shopping_list.component.js"></script>
        <script src="src/shopping_list/shopping_list.controller.js"></script>
        <script src="src/shopping_list/shopping_list.factory.js"></script>
        <script src="src/shopping_list/weightlossfilter.service.js"></script>

        <!-- 'Spinner' Module Artifacts -->
        <script src="src/spinner/spinner.component.js"></script>
    </body>
</html>
