<h3>{{ list.myTitle }}</h3>

<ol>
  <li ng-repeat="item in list.items">
    {{ item.quantity }} of {{ item.name }}

    <button ng-click="list.removeItem({index: $index})">Remove Item</button>

    <button ng-click="list.badRemove($index)">Bad Remove Item</button>
  </li>
</ol>

<!--
STEP 3: Use ng-transclude attribute inside of the template of our directive
    Tells angular where in the directive's template to include the evaluated content that was wrapped by your directive in the parent template
-->
<div class="error" ng-transclude></div>
