<!DOCTYPE html>
<html ng-app='ShoppingListDirectiveApp'>
  <head>
    <meta charset="utf-8">
    <script src="../../js/angular-1.6.1.min.js"></script>
    <script src="js/app.js"></script>

    <title>Providing Data from Directive to Parent Controller</title>
  </head>
  <body>
    <h1>Providing Data from Directive to Parent Controller</h1>

    <!-- LIST #1 - unlimited items -->
    <div id="list" ng-controller='ShoppingListController as list'>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
      <button ng-click="list.addItem();">Add Item</button>

        <!--
        If you click the "Bad Remove Item" in the parent controller scope there is no property called "lastRemoveItem", it is created in the directive controller isolate scope
        -->
        <span>{{list.lastRemoveItem}}</span>
     <!--
     STEP 3: Mapping the controller's method in the HTML parent template
         Specifying the method attribute normalized we declare it in the ddo (onRemove) and providing a reference to the controller's method as a value

         The argument passed in here (index) is simply a key which will later use to assign something from the directives isolate scope

    We are going to do a bad approach using the "bad-remove" attribute to pass the actual function directly as a reference to our directive
     -->
      <shopping-list items="list.items" title="{{list.title}}" bad-remove="list.removeItem" on-remove="list.removeItem(index)"></shopping-list>

    </div>
  </body>
</html>
