<!-- Breadcrumbs -->
<a ui-sref="home">Home</a> &lt; <span ui-sref-active="activeTab"><a ui-sref="mainList">List</a></span> <span ng-if="mainList.itemId !== null"> &lt; <a ui-sref="mainList.itemDetail({itemId: mainList.itemId})">{{mainList.items[mainList.itemId].name}}</a></span>

<h3>List</h3>

<!-- bindings property in component -->
<shopping-list items="mainList.items"></shopping-list>

<!--
STEP 2: Declaring the ui-view directive into parent html template
    Having a child state also means that somewhere in the parent's template there's a declaration of the ui-view, into which the child template can insert its own template
-->
<ui-view></ui-view>
